<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" 
  version="2.5">
  <display-name>Policy Tests Webapp</display-name>
  <servlet>
    <servlet-name>SecurityTestServlet</servlet-name>
    <servlet-class>org.mortbay.jetty.tests.webapp.policy.SecurityTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckerServlet</servlet-name>
    <servlet-class>org.mortbay.jetty.tests.webapp.policy.CheckerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckerServlet</servlet-name>
    <url-pattern>/checker/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityTestServlet</servlet-name>
    <url-pattern>/security/*</url-pattern>
  </servlet-mapping>
</web-app>
