grant {
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "setIO";
  permission java.lang.RuntimePermission "setSecurityManager";
  permission java.security.SecurityPermission "getPolicy";
  
  permission javax.servlet.aspect.ServletContextParameterPermission "foo", "read";
}