# This file controls what file are to be put on classpath or command line.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  SUBJECT [ [!] CONDITION [AND|OR] ]*
# 
# where SUBJECT: 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which to add all jar and zip files. 
#   ends with "/*" is a directory from which to add all unconsidered jar and zip files.
#   ends with "/**" is a directory from which to recursively add all unconsidered jar and zip files.
#   Containing = are used to assign system properties.
#   all other subjects are treated as files to be added to the classpath.
#
# Subjects may include system properties with $(propertyname) syntax. 
#
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# CONDITION is one of:
#   always
#   never
#   available classname        # true if class on classpath
#   property name              # true if set
#   exists file                # true if file/dir exists
#   java OPERATOR version      # java version compared to literal
#   nargs OPERATOR number      # number of command line args compared to literal
#   OPERATOR := one of "<",">","<=",">=","==","!="
#
# CONTITIONS can be combined with AND OR or !, with AND being the assume
# operator for a list of CONDITIONS.
# Classpath operations are evaluated on the fly, so once a class or jar is
# added to the classpath, subsequent available conditions will see that class.
#

$(jetty.class.path).path                         always
$(jetty.lib)/**                                  exists $(jetty.lib)


# Try different settings of jetty.home until the jetty.jar is found.
jetty.home=.                                     ! exists $(jetty.home)/start.jar 
jetty.home=..                                    ! exists $(jetty.home)/start.jar
jetty.home=/home/jetty                           ! exists $(jetty.home)/start.jar
jetty.home=/C:/jetty                             ! exists $(jetty.home)/start.jar
jetty.home=.                                     ! exists $(jetty.home)/start.jar 

# The main class to run
org.mortbay.xml.XmlConfiguration.class
$(start.class).class

# The default configuration files
$(jetty.home)/etc/jetty.xml                      nargs == 0

# Add a resources directory if it is there
$(jetty.home)/resources/


[jetty,*]
# Set the jetty classpath
$(jetty.home)/lib/*                              always

[ext,default]  
# Recursively add all jars and zips from the ext lib
$(jetty.home)/lib/ext/**                        always
         
[jsp,default]            
$(jetty.home)/lib/jsp-2.1/*  
/usr/share/java/ant.jar                          ! available org.apache.tools.ant.Main
    
[jmx]                  
$(jetty.home)/lib/jmx/*   

[plus]    
$(jetty.home)/lib/jndi/*                              
$(jetty.home)/lib/plus/*  
             
[annotations]                
$(jetty.home)/lib/annotations/*     

[xbean]                        
$(jetty.home)/lib/xbean/*  

[wadi]     
$(jetty.home)/lib/wadi/*       

[grizzly]                      
$(jetty.home)/lib/grizzly/*                                               

