<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Continuations CXF Example Application</display-name>


 <servlet>
   <servlet-name>AggregateAsyncCXFServlet</servlet-name>
   <servlet-class>org.mortbay.cxf.demo.AggregateAsyncCXFServlet</servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
   <servlet-name>AggregateAsyncCXFServlet</servlet-name>
   <url-pattern>/testAsync</url-pattern>
 </servlet-mapping>

 <servlet>
   <servlet-name>AggregateSerialCXFServlet</servlet-name>
   <servlet-class>org.mortbay.cxf.demo.AggregateSerialCXFServlet</servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
   <servlet-name>AggregateSerialCXFServlet</servlet-name>
   <url-pattern>/testSerial</url-pattern>
 </servlet-mapping>
</web-app>
