<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" 
  version="2.5">
  <display-name>File Download Webapp</display-name>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>org.mortbay.jetty.tests.webapp.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TestSuiteServlet</servlet-name>
    <servlet-class>org.mortbay.jetty.tests.webapp.download.TestSuiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSuiteServlet</servlet-name>
    <url-pattern>/testSuite</url-pattern>
  </servlet-mapping>
</web-app>
